.btn,
a.btn,
#framework input.submit,
#framework input[type="submit"] {
    transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.25s ease 0s;
    font-family: "museo_slab500","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    padding: 14px 30px;
    padding: 1.4rem 3rem;
    border: none;
    color: #fff;
    clear: both;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:0;
}
.btn .ss-icon,
a.btn .ss-icon,
#framework input.submit .ss-icon,
#framework input[type="submit"] .ss-icon {
    vertical-align: middle
}
.btn-action,
a.btn-action,
#framework input.submit,
#framework input[type="submit"] {
    padding: 14px 15px 14px 15px;
    padding: 1.4rem 1.5rem 1.4rem 1.5rem;
    position: relative
}
.btn-action:after,
a.btn-action:after,
#framework input.submit:after,
#framework input[type="submit"]:after {
    transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.25s ease 0s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-width: 21px 16px;
    border-width: 2.1rem 1.6rem;
    content: '';
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%
}
.btn-search {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1;
    padding: 10px 8px 4px 7px;
    padding: 1rem 0.8rem 0.4rem 0.7rem
}
.btn-pink,
a.btn-pink {
    background: #D72F4A
}
.btn-pink:after,
a.btn-pink:after {
    border-left-color: #D72F4A
}
.btn-pink:hover,
a.btn-pink:hover {
    background: #9A1C32
}
.btn-pink:hover:after,
a.btn-pink:hover:after {
    border-left-color: #9A1C32
}
.btn-green-aqua,
a.btn-green-aqua {
    background: #3CB49D
}
.btn-green-aqua:after,
a.btn-green-aqua:after {
    border-left-color: #3CB49D
}
.btn-green-aqua:hover,
a.btn-green-aqua:hover {
    background: #258271
}
.btn-green-aqua:hover:after,
a.btn-green-aqua:hover:after {
    border-left-color: #258271
}
.btn-orange,
a.btn-orange {
    background: #EC5327
}
.btn-orange:after,
a.btn-orange:after {
    border-left-color: #EC5327
}
.btn-orange:hover,
a.btn-orange:hover {
    background: #BF4320
}
.btn-orange:hover:after,
a.btn-orange:hover:after {
    border-left-color: #BF4320
}
.btn-gold,
#framework input[type=button],
#framework input[type=submit],
#framework .submit,
#framework #invitationpage #submit_button,
#framework #date-filter,
#framework .loginbutton input,
#framework .signupbutton input,
#framework #community input[type=submit],
#framework .utils_search button,
a.btn-gold,
#framework a.submit,
#framework #invitationpage a#submit_button,
#framework a#date-filter {
    background: #F2CC20;
    color: #494039
}
.btn-gold:after,
#framework input[type=button]:after,
#framework input[type=submit]:after,
#framework .submit:after,
#framework #invitationpage #submit_button:after,
#framework #date-filter:after,
#framework .loginbutton input:after,
#framework .signupbutton input:after,
#framework #community input[type=submit]:after,
#framework .utils_search button:after,
a.btn-gold:after,
#framework a.submit:after,
#framework #invitationpage a#submit_button:after,
#framework a#date-filter:after {
    border-left-color: #F2CC20
}
.btn-gold:hover,
#framework input[type=button]:hover,
#framework input[type=submit]:hover,
#framework .submit:hover,
#framework #invitationpage #submit_button:hover,
#framework #date-filter:hover,
#framework .loginbutton input:hover,
#framework .signupbutton input:hover,
#framework #community input[type=submit]:hover,
#framework .utils_search button:hover,
a.btn-gold:hover,
#framework a.submit:hover,
#framework #invitationpage a#submit_button:hover,
#framework a#date-filter:hover {
    background: #BFA119
}
.btn-gold:hover:after,
#framework input[type=button]:hover:after,
#framework input[type=submit]:hover:after,
#framework .submit:hover:after,
#framework #invitationpage #submit_button:hover:after,
#framework #date-filter:hover:after,
#framework .loginbutton input:hover:after,
#framework .signupbutton input:hover:after,
#framework #community input[type=submit]:hover:after,
#framework .utils_search button:hover:after,
a.btn-gold:hover:after,
#framework a.submit:hover:after,
#framework #invitationpage a#submit_button:hover:after,
#framework a#date-filter:hover:after {
    border-left-color: #BFA119
}
.btn-blue-light,
a.btn-blue-light {
    background: #439AD1
}
.btn-blue-light:after,
a.btn-blue-light:after {
    border-left-color: #439AD1
}
.btn-blue-light:hover,
a.btn-blue-light:hover {
    background: #2E6F97
}
.btn-blue-light:hover:after,
a.btn-blue-light:hover:after {
    border-left-color: #2E6F97
}
.action-arrow {
    position: relative;
    font-family: "museo_slab500","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1;
    margin: 12px 0px 0px;
    margin: 1.2rem 0rem 0rem;
    padding: 30px;
    padding: 3rem;
    max-width: 620px;
    max-width: 62rem;
    border: none;
    background: #D72F4A;
    color: #fff;
    clear: both;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}
@media screen and (min-width: 768px) {
    .action-arrow {
        width: 87%
    }
}
.action-arrow:after {
    transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.25s ease 0s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-width: 62px 55px;
    border-width: 6.2rem 5.5rem;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: #D72F4A;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%
}
@media screen and (min-width: 768px) {
    .action-arrow:after {
        content: ''
    }
}
.action-arrow.action-summary .summary {
    font-family: 'museo_sans300';
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 1.15;
    margin-bottom: 20px;
    margin-bottom: 2rem;
    display: block;
    text-align: left;
    color: #fff;
    text-transform: none;
    letter-spacing: -1px
}
@media screen and (min-width: 768px) {
    .action-arrow.action-summary .summary {
        height: 80px;
        height: 8rem
    }
}
@media screen and (min-width: 768px) {
    .action-arrow.action-summary:after {
        border-width: 110px 75px;
        border-width: 11rem 7.5rem
    }
}