/*
Theme Name: Digital Promise
Theme URI: http://devdm.com/DevDmBootstrap3
Author: Bean Creative
Author URI: http://www.beancreative.com/
Description: A devdmbootstrap3 v1.71 child theme.
Version: 1.71
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, fluid-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, rtl-language-support, theme-options, translation-ready
Text Domain: devdmbootstrap3
Template: devdmbootstrap3
*/

@import "css/bootstrap.css";
@import "css/fonts.css";
@import "css/menu.css";
@import "css/grid.css";
@import "css/buttons.css";
@import "css/header.css";

/****************** Special Blank CSS classes for child themes to use without disturbing core bootstrap rules
.dmbs-container {}
.dmbs-header {}
.dmbs-header-img {}
.dmbs-header-text {}
.dmbs-top-menu {}
.dmbs-content {}
.dmbs-main {}
.dmbs-left {}
.dmbs-right {}
.dmbs-footer-menu {}
.dmbs-author-credits {}
.dmbs-footer {}
 ****************/

/* ==============================
HEX COLOR REFERENCE
Blue #439ad1
Magenta #d72f4a
Brown #695d54
Yellow #f2cc20
Orange #ef9326
Cream #f1f1e6
================================== */

@media only screen and (max-width: 991px)
html {
    padding-top: 80px!important;
}

body{
    background:#494039;
}
.outer-wrapper {
    background:white;
}
.dmbs-container {
    padding-bottom:30px;
}
.dmbs-header {
}

.fixed {
    position: fixed;
    z-index: 100;
    top:0;
    left:50%;
}
body.logged-in .fixed {
    top:32px;
}
@media (max-width: 991px){
    .fixed {margin-left:0; left:0; width:100%;}
    .utility-bar {display: none;}
}
@media (min-width: 992px){
    .fixed {margin-left:-485px;}
}
@media (min-width: 1200px){
    .fixed {margin-left:-585px;}
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HEADER */
.dmbs-header-img {
    padding: 24px 81px 36px 38px;
    margin-bottom: -80px;
    background-image:url(img/logo-background.png);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top:0;
    left:0;
    width: 420px;
    z-index: 200;
}
@media (max-width: 991px){
    .dmbs-header-img {
        padding: 12px 81px 23px 10px;
        width: 340px;
    }
}

@media (max-width: 400px){
    .dmbs-header-img {
        padding: 12px 43px 11px 10px;
        width: 225px;
    }
}

@media (max-width: 300px){
    .dmbs-header-img {
        padding: 12px 43px 11px 10px;
        width: 200px;
    }
}



/* SEARCH BAR */
.search-bar {
    display:none;
    padding:15px;
    background:#d72f4a;
    color:white;
}
.search-bar label {
    display:none;
}
.search-bar #searchsubmit {
    display:none !important;
}
.search-bar #s {
    background:#d72f4a !important;
    border-width:0 !important;
    font-size: 2em !important;
    font-family: 'museo_sans300' !important;
    color:white !important;
    padding: 1em 0 !important;
    outline: 0;
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: none !important;
    box-sizing: content-box !important;
}
.search-bar input:focus {
    outline: none;
  }
.search-bar input, .search-bar input:focus {outline: 0;}



.utility-bar {
    min-height: 34px;
    background:#439ad1;
    padding:9px 15px 0 15px;
}
.utility-bar div {
    float:right;
}
.utility-bar a {
    color:white;
}
.utility-bar ul {
    list-style: none;
    margin:0;
    padding:0;
    float:right;
}
.utility-bar li {
    list-style: none;
    margin:0;
    padding:0;
    float:left;
    border-left:1px solid white;
}
.utility-bar li:first-child {
    border-left-width:0px;
}
.utility-bar a {
    margin-left:8px;
}
.utility-bar a.search-icon {
    margin-left:14px;
}
.utility-bar li a {
    margin:0 8px;
}
.utility-bar div:first-of-type {
    float:right;
}








/* MAIN NAV */
.main-nav-bar {
    background:#2e6f97;
    padding:0 15px;
    height:80px;
}





/* NEWSLETTER SIGN UP BUTTON , OVERLAY, AND FORM */
.sign-up-button {float: right; width:117px; height:34px; background-image: url(img/sign-up-for-updates-hover.png); background-repeat: no-repeat; background-position: top right;}
.sign-up-button:hover, .sign-up-button:active  {background-image: url(img/sign-up-for-updates.png);}

#signup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46,111,151,0.9);
    z-index: 10000;
}
#sky-form-modal-overlay2 #chimpy_shortcode_1,
#sky-form-modal-overlay2 #chimpy_shortcode_2,
#sky-form-modal-overlay2 #chimpy_shortcode_3,
#sky-form-modal-overlay2 #chimpy_shortcode_4 {
    top: 50%; left: 50%; margin-top: -105px; margin-left: -200px; display: block;
    width:400px;
    height:210px;
    position: absolute;
    display: block;
}
.dmbs-main #chimpy_shortcode_1,
.dmbs-main #chimpy_shortcode_2 {
    top: 0 !important; 
    left: 0 !important; 
    margin-top: 0 !important; 
    margin-left: 0 !important;
    width:100%  !important;
    height:auto !important;
    position: relative !important;
    display: block;
}

.sky-form-modal-overlay2 {
    background: rgba(46,111,151,0.9);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.sky-form-modal-overlay {
    background: rgba(46,111,151,0.9);
}
.sky-form header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: rgba(242,204,32,1);
    color:#494039;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 17px 20px;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    color: #494039;
    border-width:0;
}
.sky-form footer {
    background: #F1F1E6;
}
.sky-form footer button.button {
    background-color: #439AD1;
}










/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* CONTENT AREA */
.dmbs-content:first-of-type {
    padding-top:140px;
}

@media (max-width: 991px){
    .dmbs-content:first-of-type {
        padding-top:50px;
    }
}
.page-header {
    margin: 40px 0 6px;
    border-bottom-width: 0px;
}

blockquote {
    padding: 10px 20px;
    margin: 1.8rem 2.2rem;
    font-size: 2.2rem;
    border-left: 5px solid #D72F4A;
    color:#695d54;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
blockquote p {
    font-size: 2.2rem !important;
}

/*callout boxes*/
.callout {
    background:#f1f1e6;
    border:1px solid #ccc;
    width:100%;
    cursor: pointer;
    overflow: hidden;
}
.callout.blue {
    background:#439AD1;
    border:1px solid #439AD1;
    color:white;
}
.callout.magenta {
    background:#D72F4A;
    border:1px solid #D72F4A;
    color:white;
}
.callout.orange {
    background:#EF9326;
    border:1px solid #EF9326;
    color:white;
}
.callout.blue h3, .callout.blue p,
.callout.magenta h3, .callout.magenta p,
.callout.orange h3, .callout.orange p {
    color:white;
}
.callout.blue h1, .callout.blue h2,
.callout.magenta h1, .callout.magenta h2,
.callout.orange h1, .callout.orange h2 {
    color:white;
    margin:10px 15px;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.callout.no-link {
    cursor:default;
}
.callout::after{
    content:'\00a0';
    display:block;
    margin-top:1em;
    height:0;
    visibility:hidden
}
.callout img {
    max-width:100%;
    width:100%;
    height:auto;
}
.textwidget .callout img {
    max-width:100% !important;
    height:auto !important;
    float:none;
    margin:0;
}

.callout-inner {
    padding:0;
    
}
.callout h3 {
    color:#695d54;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:0 10px;
    margin-top:17px;
}
.callout p.byline + h3 {
    margin-top:7px;
}
.callout p {
    padding:0 10px;
    color:#494039;
    font-size:1.6rem;
}


@media (max-width: 571px){
    .alignleft,
    .alignright {
        float:none !important; 
        margin:5px auto 20px !important;
        display: block !important;
    }
}


.dmbs-right .callout {
    /*margin-bottom:1.5em;*/
    padding-bottom: 10px;
}

.dmbs-right aside {
    clear:both;
    margin-bottom: 1.5em;
}

.rpwwt-widget ul li:last-child {
    margin-bottom:1.5em !important;
}

@media (max-width: 991px){
    .dmbs-right {
        padding-top:30px;
    }
}

@media (min-width: 570px) and (max-width: 991px){
    .dmbs-right .callout,
    .rpwwt-widget ul li {
        max-width: 300px;
        float:left; 
        margin:15px 15px 15px 0 !important;
        min-height: 250px;
    }
    .rpwwt-widget ul {
        overflow: hidden;
    }
    .dmbs-right aside {
        clear:none;
        margin-bottom: 1.5em;
    }
}

/* TRYING TO GET THE SIDEBAR CALLOUT TO LOOK NICE AT TABLET SIZE...
@media (min-width: 570px) and (max-width: 991px){
    .dmbs-right .callout {
        padding:0 !important;
        margin-bottom:20px;
    }
    .dmbs-right .callout img {
        float:left;
        max-width:300px;
    }
    .dmbs-right .callout h3 {
        float:right;
        width:50%;
        margin:5px 0;
    }
    .dmbs-right .callout p {
        float:right;
        width:50%;
        margin:5px 0;
    }
}
*/

.grid-row.circles div {
    text-align: center;
}
.callout-round {
    padding:0;
    text-align: center;
}
.callout-round img {
    width:70%;
    max-width: 70%;
    height:auto;
}
.callout-round h3 {
    color:#439ad1;
    text-align: center;
    font-family: 'museo_sans300',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.callout p {
}
.callout p.byline {
    margin-top:1.4em;
    margin-bottom:0 !important;
}

.callout:hover, .callout:active {
    border:1px solid #666;
}
.callout.no-link:hover, .callout.no-link:active {
    border:1px solid #ccc;
}

.callout-link:hover {
    text-decoration: none !important;
}
.callout-link img {
}
.callout-link:hover img, .callout-link:active img {
    opacity: .9;
}

/* HOMEPAGE CALLOUTS BY NUMBER */
.dp01 .callout {background:#d72f4a;}
.dp01 .callout h3, .dp01 .callout p {color:white;}
.dp02 .callout {}
.dp03 .callout {background:#f2cc20;}
.dp03 .callout h3 {color:#d72f4a;}
.dp04 .callout {}
.dp05 .callout {background:#3cb49d;}
.dp05 .callout h3, .dp05 .callout p {color:white;}
.dp06 .callout {background:#ef9326;}
.dp06 .callout h3, .dp06 .callout p {color:white;}







/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HOME PAGE OVER RIDES */
body.home .dmbs-container {
    padding-top:114px;
}
body.home .dmbs-content:first-of-type {
    padding-top:0;
}
@media (max-width: 991px){
    body.home .dmbs-container {
        padding-top:38px;
    }
    body.home .dmbs-content:first-of-type {
        padding-top:0;
    }
}
.homepage-feature {
    border-bottom:4px solid #2e6f97;
    margin-bottom:40px;
    position: relative;
}

.homepage-feature img {
    max-width: 100%;
    height:auto;
}
/* maker promise page over ride */
.page-id-9969 .homepage-feature img {
    margin-top:20px;
}

.feature-overlay {
    position: absolute;
    bottom:-1px;
    left:0;
    width:490px;
    height: auto;
    background-image:url(img/feature-overlay-background.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding:22px 20px 20px 20px;
}
.feature-overlay h1 {
    color:white;
    font-size: 2em;
    margin:0 0 15px;
}
@media (max-width:1220px){
    .feature-overlay {
        padding:16px 20px 16px 20px;
    }
    .feature-overlay h1 {
        font-size: 1.8em;
    }
}
@media (max-width:991px){
    .feature-overlay {
        position: relative;
        bottom:-1px;
        left:0;
        width:100%;
        height: auto;
        background-image:none;
        background-color:#439ad1;
        padding:15px;
    }
}


.feature-overlay .btn {
    float:none;
}
.mission-statement {padding:30px; text-align: center; color:#262626;}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* WIDE PAGE TEMPLATE OVER RIDES */
.page-template-page_wide .page-header {
    margin-top:0;
}
@media (max-width: 991px){
    .page-template-page_wide .breadcrumbs {
        display:none;
    }
    .page-template-page_wide #addthis-widget-2 {
        float: right;
    }
    .page-template-page_wide #addthis-widget-2 .addthis_toolbox {
        float: left;
    }
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* LANDING PAGE OVER RIDES */
body.page-template-page_landing .dmbs-container,
body.page-template-template-initiative .dmbs-container,
body.single-district .dmbs-container,
body.single-initiative .dmbs-container {
    padding-top:114px;
}
body.page-template-page_landing .dmbs-content:first-of-type,
body.page-template-template-initiative .dmbs-content:first-of-type,
body.single-district .dmbs-content:first-of-type,
body.single-initiative .dmbs-content:first-of-type {
    padding-top:0;
}
@media (max-width: 991px){
    body.page-template-page_landing .dmbs-container,
    body.page-template-template-initiative .dmbs-container,
    body.single-district .dmbs-container,
    body.single-initiative .dmbs-container {
        padding-top:38px;
    }
    body.page-template-page_landing .dmbs-content:first-of-type,
    body.page-template-template-initiative .dmbs-content:first-of-type,
    body.single-district .dmbs-content:first-of-type,
    body.single-initiative .dmbs-content:first-of-type {
        padding-top:0;
    }
}
body.page-template-page_landing .feature-overlay h1,
body.page-template-template-initiative .feature-overlay h1,
body.single-initiative .feature-overlay h1 {
    margin:0;
}
body.page-template-template-initiative .homepage-feature {
    margin-bottom:40px;
}

body.single-district .homepage-feature,
body.single-initiative .homepage-feature {
    margin-bottom:-20px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* OUR TEAM PAGE OVER RIDES */
.our-team {
    /*padding-bottom:50px;*/
    position: relative;
}
.team-member {
    text-align: center;
    position: relative;
}
.team-member {
    /*padding:15px;*/
}
.team-member.active {
    /*background-color:#2E6F97;
    padding:10px;
    border:5px solid #2E6F97;*/
}
.team-member.active .our-team {
    /*color:white;*/
}
.team-member.active .our-team h3 {
    /*color:white;*/
}
.team-member.active .our-team h3 a {
    /*color:white;*/
}

.team-member img {
    border:5px solid white;
    padding:10px;
    width: 100%;
}
.team-member.active img {
    border:5px solid #2E6F97;
    padding:10px;
}

.team-member .post-meta, .our-team .post-meta li {
    list-style: none;
    margin:0;
    padding:0;
}
.team-member .post-meta li:first-of-type {
    display: none;
}

.team-member .post-meta .post-meta-key {
    display: none;
}

.our-team h3 {
    color:#439ad1;
    text-align: center;
    font-family: 'museo_sans500',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bio-container {
    display:none;
    width:1170px;
    height: auto;
    position: absolute;
    top: 364px;
    left: 0;
    text-align: left;
    overflow: hidden;
    background: #2E6F97;
    padding:30px;
    color:white;
    z-index: 2000;
}


.bio-hidden-panel {
    display:none;
    width:100%;
    height: auto;
    position: absolute;
    top: 364px;
    left: 0;
    text-align: left;
    overflow: hidden;
    background: #2E6F97;
    padding:30px;
    color:white;
    z-index: 2000;
}

@media (max-width: 991px) {
    .bio-hidden-panel {
        margin-top:-42px;
    }
}
@media (max-width: 768px) {
    .bio-hidden-panel {
        margin-top:-64px;
    }
}
@media (max-width: 574px) {
    .bio-hidden-panel {
        margin-top:-45px;
    }
}
@media (max-width: 383px) {
    .bio-hidden-panel {
        margin-top:0;
    }
}

.bio-hidden-panel a {
    color:#f0e249;
    font-weight: bold;
}
.bio-title {
    font-size: 2.4rem;
}
.bio-title h3 {
    font-size: 4.2rem;
    padding-right:30px;
}
.bio-title .bio-position-title {
    font-size: 2.4rem;
    padding:0 30px 30px 0;
}
.bio-content p:first-of-type {
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* OUR WORK PAGE */
body.page-template-template-initiative #category-select {
}


@media (min-width: 992px) {
    /*
    .single-initiative .callout img {
        max-width: 500px;
        float:left;
        margin-right:15px
    }
    .single-initiative .callout h3 {
        margin-top:0;
        padding-top:1em;
    }    
    .single-initiative .callout .clear {
        display: none;
    }
    */
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* DISTRICT MAPS */

.postid-8961 {
    overflow-x: hidden; /* HIDE LEFT/RIGHT SCROLL BAR BECAUSE OF SLIDING PANEL */
}

#map_wrapper {
    position: relative;
    overflow: hidden;
}
.slide-right{
    position:absolute;
    min-height:580px;
    background:#ebebeb;
    width:400px;
    right:0px;
    margin-right: -400px;
    position: absolute;
    top:15px;
    border-radius:0;
}
.panel-toggle-tab{
    position:absolute;
    right:0px;
    background:#DDDDDD;
    top:15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    background-image: url(/wp-content/themes/researchmap/img/sidebar-arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100px;
    cursor:pointer;
}

.panel-content {
    margin:15px 15px 15px 10px;
    padding-left:40px;
    background-image:url(/wp-content/themes/digital-promise/img/map-pin-icon.png);
    background-repeat:no-repeat;
    background-position: top left;
}

.panel-content p {
    font-size: 1.5rem;
}

.panel-content .district-data-display {
    width:70px;
    height:70px;
    border-radius:50%;
    background:#F2CC21;
    text-align: center;
    color:black;
    font-weight: bold;
    line-height: 70px;
    margin:0 auto 15px;   
}

#mapstatefilterselect {
    font-size: 2rem;
    margin-bottom:15px;
}


.mapactivefilters {
    border:1px solid black;
    padding:15px;
    margin-bottom:15px;
}

.mapactivefilters .mapactivefilterscolumns label {
    font-size: 1.4rem;
    float:left;
    max-width: 180px;
    padding-top: 1px;
}
@media (max-width: 1199px) {
    .mapactivefilters .mapactivefilterscolumns label {
        max-width: 150px;
    }
}
@media (max-width: 989px) {
    .mapactivefilters .mapactivefilterscolumns label {
        max-width: 105px;
        font-size: 1.3rem;
    }
}
@media (max-width: 767px) {
    .mapactivefilterscolumn_1,
    .mapactivefilterscolumn_2,
    .mapactivefilterscolumn_3,
    .mapactivefilterscolumn_4 {
        display:block !important;
        width:100% !important;
        border-width:0 !important;
        padding:0 !important;
    }
    .mapactivefilterscolumns {
        -webkit-column-count: 1 !important; 
        -moz-column-count: 1 !important; 
        column-count: 1 !important;
    }
    .mapactivefilters .mapactivefilterscolumns label {
        font-size: 1.4rem !important;
        float:left;
        max-width: none !important;
    }
    .maplist {
        -webkit-column-count: 1 !important; 
        -moz-column-count: 1 !important; 
        column-count: 1 !important;
    }
    .maplist div {
        border-width:0 !important;
        padding-left:0 !important;
        display: block !important;
        width: 100% !important;
    }
}
.mapactivefilters .mapactivefilterscolumns p {
    clear:both;
    padding-top: 20px;
}
.mapactivefilters .mapactivefilterscolumns input {
    float:left;
    clear:left;
    margin-right:10px;
}

.mapactivefilterscolumn_2,
.mapactivefilterscolumn_3 {
    border-left:4px solid #EBEAE8;
    padding-left:25px;
}

.mapbottombuttons {
    padding:15px 15px 3px;
    background: #494039;
    color:white;
    font-weight: bold;
    border-top:2px solid #fff;
}
.mapbottombuttons p {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin-right:10px;
}
.mapbottombuttons input {}
.mapbottombuttons label {
    margin-right:20px;
}

.maplist {
    background:#F1F1E7;
    padding:15px;
    margin-top:2px;
}
.maplist h2 {
    color:#3C332C;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'museo_slab700',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:1em;
}
.maplist h3 {
    text-transform: uppercase;
    color:#3C332C;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom:0;
    padding:1px 0 0 15px;
    background: url(/wp-content/themes/digital-promise/img/icon-arrow-brown.png) no-repeat top left;
}
.maplist h3 a {
    color:#3e352e;
}
.maplist h3 a:hover, .maplist h3 a:active {
    color:#000;
}


.maplist .superintendent-label {
    font-size: 1.4rem !important;
    padding:0 0 0 15px;
}

.maplist > div {
    /*border-left:4px solid #DEDED2;*/
    padding:0 30px;
}

/*
.vertical-text {
	transform: rotate(90deg);
	transform-origin: 0px 0px;
	vertical-align:text-bottom;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    display: block;
}
*/

.district-header {}
.district-header img {
    max-width: 100px !important;
    height: auto !important;
}


#district_local_map {
    width:100%;
    min-height: 267px;
}

.district-logo {
    display: none;
}

@media (max-width: 574px) {
    #district_local_map {
        min-height: 200px;
        width: 97% !important;
        margin-bottom: 1px !important;
    }
}

#district_local_map img {
    max-width: none !important;
    height: auto !important;
}

.wrapper {
    width:100%;
    text-align: center;
}
a.blue {color:#439AD0;}
a.blue:hover,a.blue:active {color:#2E6F97;}
.district-data-display {
    width:100px;
    height:100px;
    border-radius:50%;
    background:#F2CC21;
    text-align: center;
    color:black;
    font-weight: bold;
    line-height: 100px;
    margin:0 auto 15px;
    
}
.district-data-label p {
    text-align: center;
    color:black;
    font-weight: bold;
    clear:both;
    font-size: 1.2rem !important;
}

.callout.superintendent {
    text-transform: uppercase;
}

.superintendent-photo {
    float:left;
    width:42%;
}
.superintendent-photo img {
    max-width: 100% !important;
    height:auto !important;
}
.superintendent-info {
    float:left;
    width:57%;
    padding:15px;
}
.superintendent-label {
    font-size:1.2rem !important;
}
.district-leaders {
    clear: both;
    font-size: 1.2rem !important;
}

.callout.district-information {
    padding:15px;
}
.district-work {
    float:left;
    width:50%;
    padding-right:15px;
    border-right:1px solid #ccc;
    font-size: 1.2rem;
}
.district-work ul, .district-work li  {
    list-style: none;
    margin:0;
    padding:0;
    font-size:1.2rem !important;
}
.district-geographic {
    float:left;
    width:44%;
    padding-left:15px;
}

h2.divider {
    padding:15px;
}
h2.divider.orange {
    color:white;
    background-color:#EF9326;
}

/* MAPS */
#map_canvas_1 {
    margin: 0; width:69.8%; height:600px; float: right;
}
#map_canvas_2 {
    margin: 0 0 2px; width:30%; height:300px;
}
#map_canvas_3 {
    margin: 0; width:30%; height:298px;
}
@media (max-width: 991px) {
    #map_canvas_1 {
        margin:0 0 2px; width:100%; height:600px; float: none;
    }
    #map_canvas_2 {
        margin: 0 2px 0 0; width:49.7%; height:250px; float:left;
    }
    #map_canvas_3 {
        margin: 0; width:50%; height:250px; float:right;
    }
}
@media (max-width: 768px) {
    #map_canvas_1 {
        margin:0 0 2px; width:100%; height:600px; float: none;
        display: none;
    }
    #map_canvas_2 {
        margin:0 0 2px; width:100%; height:250px; float:none;
        display: none;
    }
    #map_canvas_3 {
        margin:0 0 20px; width:100%; height:250px; float:none;
        display: none;
    }
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BLOG LANDING PAGE */
.featured-stories .Grid-cell:first-child {
        width:50% !important;
    }
@media (max-width: 768px) {
    .featured-stories .Grid-cell:first-child {
        width:100% !important;
    }
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* CATEGORY SELECT MENUS AND LIST
.category-select {
    font-size: 1.8rem;
}*/
.category-list {
    padding-top:40px;
    font-size: 1.3rem;
}
 


/* TABLE OVER RIDES */
table > tbody > tr > td, 
table > tfoot > tr > td {
    padding: 8px;
    line-height: normal;
    vertical-align: top;
    border-top: 0px solid #dddddd;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* PAGINATION NEXT/PREVIOUS */
.navigation {
    text-align: center;
    padding:30px 0;
    font-size: 2rem;
}
.wp-paginate a {
    background: transparent !important;
    border-width: 0px !important;
    color: #D72F4A !important;
}
.wp-paginate a:hover,
.wp-paginate a:active {
    background: transparent !important;
    border-width: 0px !important;
    color: #9A1C32 !important;
}
.wp-paginate .current {
    color: #000 !important;
    font-weight: bold;
    background: transparent !important;
    border-width: 0px !important;
    margin-right: 4px;
    padding: 4px 8px;
}
.wp-paginate a.prev,
.wp-paginate a.next {
    background: #439AD1 !important;
    color: #fff !important;
    padding: 8px 12px;
}
.wp-paginate a.prev:hover,
.wp-paginate a.next:hover,
.wp-paginate a.prev:active,
.wp-paginate a.next:active {
    background: #60b7ee !important;
}
.wp-paginate a.prev {
    margin-right: 14px;
}
.wp-paginate a.next {
    margin-left: 14px;
}


/* CIRCLE STYLES FROM OLD SITE */
.circle {
    position: relative;
    display: inline-block;
    zoom: 1;
    border-radius: 95px;
    border-radius: 9.5rem;
    height: 145px;
    height: 14.5rem;
    width: 145px;
    width: 14.5rem;
    background: #D72F4A;
    margin-right: 1%;
}

.circle p {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 53%;
    color: #fff;
    text-align: center;
}
.highlight {
    margin-bottom: 20px;
    margin-bottom: 2rem;
    padding: 20px;
    padding: 2rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background: #F1F1E6;
}



/* MEDIA CREDIT COPYRIGHT CAPTIONS */
.media-credit {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: right;
    margin: -21px 10px 5px;
    display: block;
    color: #fff;
    width: auto !important;
    text-shadow:1px 1px 2px #000;
    opacity: .5;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ADD THIS SHARING WIDGET */
#addthis-widget-2 {
    overflow: hidden;
    padding:39px 0 11px;
    float: right;
    margin-bottom:3px !important;
    white-space: nowrap;
}

.single-initiative #addthis-widget-2 {
    padding:0 0 6px;
}
body.single-district #addthis-widget-2 {
    padding:0 0 11px;
    margin-bottom:24px !important;
}
#addthis-widget-2 h3 {
    float:left;
    font-size: 1.1rem;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#695d54;
    text-transform: uppercase;
    margin:3px 10px 0 0;
    
}
#addthis-widget-2 .addthis_toolbox {
    float:left;
    text-align: right;
    
}
#addthis-widget-2 .addthis_toolbox a {
    float:none !important;
    padding:0;
}
@media (max-width: 991px){
    #addthis-widget-2 {
        float: none;
    }
    #addthis-widget-2 .addthis_toolbox {
        float: none;
    }
}
.callout .addthis_toolbox {
    display: none;
}
.addthis_counter {display: none !important;}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SHARE DADDY */
div.sharedaddy {
    width:100% !important;
    border-top: 1px solid #ddd !important;
    padding-top:23px !important;
    margin-top:30px !important;
}
div.sharedaddy h3.sd-title {
    margin: -8px 10px 1em 0 !important;
}
div.sharedaddy h3.sd-title:before {
    border-top: 0px solid #ddd !important;
}
.sd-title {
    float:left;
    font-size: 1.5rem !important;
    margin-right:10px !important;
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* JB RELATED POSTS */
.jp-relatedposts {
    width:100% !important;
    border-top: 1px solid #ddd !important;
    padding-top:10px !important;
    margin-top:30px !important;
}
.jp-relatedposts-headline {
    float:left;
    font-size: 1.5rem !important;
    margin-right:10px !important;
}
#jp-relatedposts h3.jp-relatedposts-headline em:before {
    border-top-width: 0 !important;
}
.jp-relatedposts-post > a {
    background-color:#F1F1E6;
    display: block;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.jp-relatedposts-post a:first-child {
    border-top:1px solid #ccc;
}
.jp-relatedposts-post a:last-child {
    border-bottom:1px solid #ccc;
}
.jp-relatedposts-post-title {
    margin:0;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#695d54;
}
.jp-relatedposts-post-title a {
    background-color:#F1F1E6;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#695d54;
    display: block;
    padding:10px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    min-height:84px;
}
.jp-relatedposts-post-context {
    display: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SIDEBAR RECENT POSTS */
.recent-posts-widget-with-thumbnails li {
    background-color:#F1F1E6;
    border:1px solid #ccc;
}
.recent-posts-widget-with-thumbnails li:hover {
    border:1px solid #666;
}
.rpwwt-post-title {
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#695d54;
    padding:10px;
    display: block;
}
.rpwwt-widget {
    clear:both;
}
.rpwwt-widget ul li img {
    display: block !important;
    float: none !important;
    margin: 0 0 0 0 !important;
}
.rpwwt-widget > aside > h3 {
    background:#EF9326;
    color:white;
    padding:5px 15px;
    margin:0;
}


/* YET ANOTHER RELATED WIDGET */
.yarpp-related-widget h3.related-title,
#execphp-7 .related-title {
    background:#EF9326;
    color:white;
    padding:5px 15px;
    margin:0;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* COMMENTS AREA */
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #F1F1E6;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.dmbs-comments {
    margin-top:60px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SIDEBARS */
.widget_categories label,
.widget_archive label {display:none;}

.widget_categories select,
.widget_archive select,
.dmbs-right .category-select select {width:100%;}

/* sector select in initiative sidebar */
#execphp-2 label {
    display: none;
}
#execphp-2 #cat {
    width:100%;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SUB NAV ON INITIATIVES PAGES */
#execphp-3,
#execphp-4,
#execphp-5 {
    margin-top:-5px;
}
#execphp-3 .leftnav_item,
#execphp-4 .leftnav_item,
#execphp-5 .leftnav_item{
    margin:10px 0;
}
#execphp-3 .leftnav_item_current,
#execphp-4 .leftnav_item_current,
#execphp-5 .leftnav_item_current{
    padding:2px 10px 2px 5px;
    background:url(img/sub-nav-background.png) no-repeat center right;
}
#execphp-3 .leftnav_item_current a,
#execphp-4 .leftnav_item_current a,
#execphp-5 .leftnav_item_current a{
    color:black;
}
@media (max-width: 991px){
    #execphp-2 {}
    
    #execphp-3 .execphpwidget,
    #execphp-4 .execphpwidget,
    #execphp-5 .execphpwidget{
        display:table;
        width:100%;
        margin-bottom:30px;
    }
    #execphp-3 .leftnav_item,
    #execphp-4 .leftnav_item,
    #execphp-5 .leftnav_item{
        display:table-cell;
        padding:2px 10px;
        text-align: center;
    }
    #execphp-3 .leftnav_item_current,
    #execphp-4 .leftnav_item_current,
    #execphp-5 .leftnav_item_current{
        padding:2px 10px;
        background:#f2cc20;
        text-align: center;
    }
}
@media (max-width: 768px){
    #execphp-2 {}
    
    #execphp-3 .execphpwidget,
    #execphp-4 .execphpwidget,
    #execphp-5 .execphpwidget{
        display:block;
        width:100%;
        margin-bottom:30px;
    }
    #execphp-3 .leftnav_item,
    #execphp-4 .leftnav_item,
    #execphp-5 .leftnav_item{
        display:block;
        padding:0;
        text-align: left;
    }
    #execphp-3 .leftnav_item_current,
    #execphp-4 .leftnav_item_current,
    #execphp-5 .leftnav_item_current{
        padding:2px 10px;
        text-align: left;
        background:url(img/sub-nav-background.png) no-repeat center right;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BREADCRUMBS */
.breadcrumbs {
    margin:40px 0 20px 0;
    font-size: 1.1rem;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#695d54;
    text-transform: uppercase;
}
.breadcrumbs a {
    color:#666;
    font-weight: 300;
}
.breadcrumbs > span:last-child {
    display: none;
}

body.page-template-template-initiative .breadcrumbs {
    margin-top:40px;
}

body.single-district .breadcrumbs,
body.single-initiative .breadcrumbs {
    margin-top:60px;
}

body.single-district .dmbs-right,
body.single-initiative .dmbs-right {
    margin-top:-36px;
}
@media (max-width: 991px){
    body.single-district .dmbs-right,
    body.single-initiative .dmbs-right {
        margin-top:0;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TOOL REDIRECT PAGE */

.tool-redirect {background:#439AD1; text-align:center; color:white; padding-top:100px;}
.tool-redirect h2 {color:white; margin-top:100px; margin-bottom:50px;}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* DISTRICT MAP PAGE */
body.postid-8961 .jp-relatedposts {display: none !important;}







/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FOOTER */
.visit-footer {
    background: #f1f1e6;
    padding-bottom:10px;
}

.visit-footer ul, .visit-footer li {
    list-style:none;
    margin:0;
    padding:0;
}

.dmbs-footer {
    padding:30px 0;
}

.footer-right {
    text-align: right;
}
.footer-right a {
    margin-left:8px;
}

@media (max-width:991px){
    .visit-footer div {text-align: center;}
    .dmbs-footer div {text-align: center;}
    .footer-left {margin-bottom:25px;}
}














/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* PRINT OVER RIDES */
@media print {
    .visit-footer,
    .well,
    .breadcrumbs,
    .jp-relatedposts,
    .dmbs-right,
    .dmbs-left,
    .utility-bar,
    .search-bar,
    .main-nav-bar
    {display: none !important;}
    
    a[href]:after {
    content: "" !important;
      }
    abbr[title]:after {
        content: "" !important;
      }
    
    .fixed {
        margin-left: 0;
        position: relative !important;
        left:auto;
    }
    .dmbs-header {
        margin-bottom: .5in;
    }
    .dmbs-header-img {
        padding: 0;
        margin-bottom: 0;
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        max-width: 3.5in;
    }
    .dmbs-content:first-of-type {
        padding-top: 0;
    }
    body.page-template-page_landing .dmbs-container, body.page-template-template-initiative .dmbs-container, body.single-initiative .dmbs-container {
        padding-top: 0;
    }
    .csColumn {
        width:100% !important;
    }
    
}

