.cbp-af-header { /* SET TRANSITIONS FOR CHANGE ANIMATIONS */
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}


/* Transitions and class for reduced height */
.cbp-af-header .utility-bar,
.cbp-af-header .main-nav-bar,
.cbp-af-header #mega-menu-main_menu,
.cbp-af-header #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link,
.cbp-af-header .dmbs-header-img,
.cbp-af-header #wprmenu_bar,
.cbp-af-header .sign-up-button
{
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {}

.cbp-af-header.cbp-af-header-shrink .utility-bar {
    min-height: 24px;
    padding:3px 15px 0 15px;
}
.cbp-af-header.cbp-af-header-shrink .main-nav-bar {
    height:36px;
}
.cbp-af-header.cbp-af-header-shrink #mega-menu-main_menu {
    height:36px;
}
.cbp-af-header.cbp-af-header-shrink #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link {
    padding: 0px 10px 0px 10px;
    line-height: 36px;
    height: 36px;
    font-size: 16px;
}


.cbp-af-header.cbp-af-header-shrink .dmbs-header-img {
    padding: 12px 66px 8px 28px;
    margin-bottom: -40px;
    width: 320px;
}
@media (max-width: 991px){
    .cbp-af-header.cbp-af-header-shrink .dmbs-header-img {
        padding: 7px 69px 6px 6px;
        width: 300px;
    }
}

#wprmenu_bar.cbp-af-header-shrink {
    top: 0px;
    right: 20px;
    padding: 10px 16px;
    width: 50px;
    height: 42px;
}

.cbp-af-header.cbp-af-header-shrink .sign-up-button {
    width: 117px;
    height: 34px;
    background-size: 90%;
}
