/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BASE MAIN MENU STYLES */
.navbar {
    border-width: 0px;
    border-radius:0;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
@media only screen and (max-width: 991px) {
    .navbar {display: none;}
}






/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MOBILE OFF CANVAS MENU */
#wprmenu_bar {
    z-index: 400 !important;
    top: 20px;
    right: 20px;
    left:auto;
    background: transparent !important;
    padding: 10px 16px;
    width: 50px;
    display: none;
    cursor: pointer;
    z-index: 98;
    overflow: hidden;
    height: 42px;
}
#wprmenu_menu.left, #wprmenu_menu.right {
    z-index: 297;
    overflow-x: none;
    overflow-y: auto;
    background: #494039;
    top: 80px;
    border-top:0px solid #fff;
}
#wprmenu_menu .wpr_search {
    padding: 20px 10px !important;
}
#wprmenu_menu .wpr_search label {
    width:100%;
}
#wprmenu_menu .wpr_search .wpr-search-field {
    border-width:0;
}

#wprmenu_menu_ul > li.menu-item a {
    font-size:2rem;
    text-transform:uppercase;
    font-family: 'museo_slab700',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#wprmenu_menu_ul > li.menu-item a:hover, #wprmenu_menu_ul > li.menu-item a:active {
    padding: 13px 14px;
    font-size:2rem;font-size:2rem;
    color: #f2cc20 !important;
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MEGA MENUS AND FLYOUTS */
/**/

#mega-menu-wrap-main_menu #mega-menu-main_menu ul, 
#mega-menu-wrap-main_menu #mega-menu-main_menu li, 
#mega-menu-wrap-main_menu #mega-menu-main_menu p, 
#mega-menu-wrap-main_menu #mega-menu-main_menu img, 
#mega-menu-wrap-main_menu #mega-menu-main_menu div, 
#mega-menu-wrap-main_menu #mega-menu-main_menu a {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  background: none;
  border: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  right: auto;
  top: auto;
  bottom: auto;
  left: auto;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  list-style-type: none;
  line-height: 1.7;
  box-sizing: border-box;
  float: none;
  overflow: visible;
  display: block;
  min-height: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  text-decoration: none;
  width: auto;
  clip: auto;
  height: auto;
  outline: none;
  visibility: inherit;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu a:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu a:active {
  color: #90d4ff;
}
#mega-menu-main_menu {
    display: -webkit-flex !important; /* Safari */
    display: flex !important;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    width: 100% !imporant;
    list-style: none;
    height:80px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu ul:before, 
#mega-menu-wrap-main_menu #mega-menu-main_menu li:before, #mega-menu-wrap-main_menu #mega-menu-main_menu p:before, #mega-menu-wrap-main_menu #mega-menu-main_menu img:before, #mega-menu-wrap-main_menu #mega-menu-main_menu div:before, #mega-menu-wrap-main_menu #mega-menu-main_menu a:before, #mega-menu-wrap-main_menu #mega-menu-main_menu ul:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li:after, #mega-menu-wrap-main_menu #mega-menu-main_menu p:after, #mega-menu-wrap-main_menu #mega-menu-main_menu img:after, #mega-menu-wrap-main_menu #mega-menu-main_menu div:after, #mega-menu-wrap-main_menu #mega-menu-main_menu a:after {
  display: none;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu table, 
#mega-menu-wrap-main_menu #mega-menu-main_menu td, 
#mega-menu-wrap-main_menu #mega-menu-main_menu tr, 
#mega-menu-wrap-main_menu #mega-menu-main_menu th {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}
#mega-menu-wrap-main_menu, 
#mega-menu-wrap-main_menu #mega-menu-main_menu, 
#mega-menu-wrap-main_menu #mega-menu-main_menu ul.mega-sub-menu, 
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item, 
#mega-menu-wrap-main_menu #mega-menu-main_menu a.mega-menu-link {
  /*-moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  background: none;
  border: 0;
  bottom: auto;
  box-sizing: border-box;
  clip: auto;
  color: #666;
  display: block;
  float: none;
  font-family: inherit;
  font-size: 14px;
  height: auto;
  left: auto;
  line-height: 1.7;
  list-style-type: none;
  margin: 0;
  min-height: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  top: auto;
  vertical-align: baseline;
  visibility: inherit;
  width: auto;*/
}
#mega-menu-wrap-main_menu:before, 
#mega-menu-wrap-main_menu #mega-menu-main_menu:before, 
#mega-menu-wrap-main_menu #mega-menu-main_menu ul.mega-sub-menu:before, 
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item:before, 
#mega-menu-wrap-main_menu #mega-menu-main_menu a.mega-menu-link:before, 
#mega-menu-wrap-main_menu:after, 
#mega-menu-wrap-main_menu #mega-menu-main_menu:after, 
#mega-menu-wrap-main_menu 
#mega-menu-main_menu ul.mega-sub-menu:after, 
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item:after, 
#mega-menu-wrap-main_menu #mega-menu-main_menu a.mega-menu-link:after {
  display: none;
}
#mega-menu-wrap-main_menu {
  background: rgba(34, 34, 34, 0);
}
#mega-menu-wrap-main_menu #mega-menu-main_menu {
  visibility: visible;
  text-align: left;
  padding: 0px 0px 0px 0px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu a.mega-menu-link {
  display: inline;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu p {
  margin-bottom: 10px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu input, #mega-menu-wrap-main_menu #mega-menu-main_menu img {
  max-width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item > ul.mega-sub-menu {
  display: block;
  visibility: hidden;
  opacity: 1;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu.mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu, #mega-menu-wrap-main_menu #mega-menu-main_menu.mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  visibility: visible;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item a[class^='dashicons']:before {
  font-family: dashicons;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-disable-link > a.mega-menu-link {
  cursor: default;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item a.mega-menu-link:before {
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  position: static;
  margin: 0 6px 0 0px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item.mega-hide-text a.mega-menu-link:before {
  margin: 0;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-align-bottom-left.mega-toggle-on > a.mega-menu-link {
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-align-bottom-right > ul.mega-sub-menu {
  right: 0;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-align-bottom-right.mega-toggle-on > a.mega-menu-link {

}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu.mega-menu-item {
  /*position: static;*/
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item {
  /*margin: 0 0px 0 0;
  display: inline-block;
  height: auto;*/
    flex-grow: 1;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-item-align-right {
  float: right;
  margin: 0 0 0 0px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:focus {
  background: #439ad1;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  border-color: #fff;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link {
  background: #439ad1;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link {
  outline: none;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  line-height: 80px;
  font-weight: normal;
  height: 80px;
  vertical-align: baseline;
  text-align: center;
  width: auto;
  display: block;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
    font-size:2rem;
    text-transform:uppercase;
    font-family: 'museo_slab700',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:active,
#mega-menu-wrap-utility_navigation #mega-menu-utility_navigation > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-utility_navigation #mega-menu-utility_navigation > li.mega-menu-item > a.mega-menu-link:active
{
  color:#90cff7;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item {
    display: list-item;
    margin: 0;
    clear: both;
    border: 0;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-item-align-right {
    float: none;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link {
    border: 0;
    margin: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu {
  z-index: 999;
  background: rgba(67, 154, 209, 0.9);
  padding: 0px 0px 0px 0px;
  position: absolute;
  width: 100%;
  left: 0;
  padding-left: 0%;
  padding-right: 0%;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100% !important;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-1 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-2 {
  width: 50%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-2 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-3 {
  width: 33.33333%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-3 {
  width: 66.66667%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-3 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-4 {
  width: 25%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-4 {
  width: 50%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-4 {
  width: 75%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-4 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-5 {
  width: 20%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-5 {
  width: 40%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-5 {
  width: 60%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-5 {
  width: 80%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-5 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-6 {
  width: 16.66667%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-6 {
  width: 33.33333%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-6 {
  width: 50%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-6 {
  width: 66.66667%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-6 {
  width: 83.33333%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-6 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-7 {
  width: 14.28571%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-7 {
  width: 28.57143%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-7 {
  width: 42.85714%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-7 {
  width: 57.14286%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-7 {
  width: 71.42857%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-7 {
  width: 85.71429%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-7-of-7 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-1-of-8 {
  width: 12.5%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-2-of-8 {
  width: 25%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-3-of-8 {
  width: 37.5%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-4-of-8 {
  width: 50%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-5-of-8 {
  width: 62.5%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-6-of-8 {
  width: 75%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-7-of-8 {
  width: 87.5%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-columns-8-of-8 {
  width: 100%;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu {
  clear: both;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 10px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  margin-left: 20px;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
  color: #666;
  font-family: inherit;
  font-size: 14px;
  display: block;
  float: left;
  clear: none;
  padding: 15px 15px 15px 15px;
  vertical-align: top;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-menu-clear {
  clear: left;
  /* Widget titles */
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
  /* Second level menu item */
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  display: block;
  border-top: 0px solid #555;
  border-left: 0px solid #555;
  border-right: 0px solid #555;
  border-bottom: 0px solid #555;
  /* Second level menu item hover */
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  /* Third level menu item */
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
  display: block;
  /* Third level menu item hover */
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    border: 0;
    padding: 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
    width: 50%;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li:nth-child(odd) {
    clear: left;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu {
  z-index: 999;
  position: absolute;
  width: 150px;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  padding: 0px 0px 0px 0px;
  background: #f1f1f1;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu {
    float: left;
    position: static;
    width: 100% !important;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
    clear: both;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
  display: block;
  background: #f1f1f1;
  color: #666;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 10px 0px 10px;
  line-height: 35px;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child a.mega-menu-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child a.mega-menu-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child a.mega-menu-link {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child a.mega-menu-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:focus {
  background: #ddd;
  font-weight: normal;
  text-decoration: none;
  color: #666;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
    position: static;
    left: 0;
    width: 100%;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu a.mega-menu-link {
    padding-left: 20px;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f140';
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  margin: 0 0 0 6px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  color: inherit;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-menu-item-has-children a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout li.mega-menu-item-has-children a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item-has-children a.mega-menu-link:after {
    float: right;
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link:after {
    content: '\f142';
  }
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item-has-children.mega-hide-sub-menu-on-mobile > a.mega-menu-link:after {
    display: none;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item-has-children.mega-hide-arrow > a.mega-menu-link:after {
  display: none;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f139';
  float: right;
  margin: 0;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f140';
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
  text-align: right;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link {
    text-align: left;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
  float: right;
  margin: 0 0 0 6px;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item a.mega-menu-link:before {
    float: left;
    margin: 0 6px 0 0;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: '\f141';
  float: left;
  margin: 0;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right li.mega-menu-item-has-children > a.mega-menu-link:after {
    content: '\f140';
    float: right;
  }
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-flyout.mega-align-bottom-right ul.mega-sub-menu li.mega-menu-item ul.mega-sub-menu {
  left: -100%;
  top: 0;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu li[class^='mega-lang-item'] > a.mega-menu-link > img {
  display: inline;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item.mega-hide-on-mobile, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 961) {
  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-item.mega-hide-on-desktop, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-hide-on-desktop {
    display: none;
  }
}
#mega-menu-wrap-main_menu .mega-menu-toggle {
  display: none;
  z-index: 1;
  cursor: pointer;
  text-align: right;
  background: #222;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -ms-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  line-height: 40px;
  height: 40px;
  color: #fff;
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu .mega-menu-toggle {
    display: block;
  }
}
#mega-menu-wrap-main_menu .mega-menu-toggle:before {
  content: "\f333";
  font-family: 'dashicons';
  font-size: 24px;
  margin: 0 5px;
  float: right;
}
#mega-menu-wrap-main_menu .mega-menu-toggle.mega-menu-open:before {
  content: "\f153";
}
#mega-menu-wrap-main_menu .mega-menu-toggle:after {
  content: 'test';
}
#mega-menu-wrap-main_menu .mega-menu-toggle.mega-menu-open:after {
  content: "";
}
@media only screen and (max-width: 960) {
  #mega-menu-wrap-main_menu .mega-menu-toggle + #mega-menu-main_menu {
    display: none;
  }
  #mega-menu-wrap-main_menu .mega-menu-toggle + #mega-menu-main_menu li.mega-menu-item > ul.mega-sub-menu {
    display: none;
    visibility: visible;
    opacity: 1;
  }
  #mega-menu-wrap-main_menu .mega-menu-toggle + #mega-menu-main_menu li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-main_menu .mega-menu-toggle + #mega-menu-main_menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    display: block;
  }
  #mega-menu-wrap-main_menu .mega-menu-toggle.mega-menu-open + #mega-menu-main_menu {
    display: block;
  }
}
#mega-menu-wrap-main_menu {
  clear: both;
}







#mega-menu-wrap-utility_navigation {
    clear:none !important;
}
#mega-menu-utility_navigation {
    float: right !important;
    font-size:1.2rem !important;
    line-height: normal !important;
}
#mega-menu-utility_navigation li {
    list-style: none;
    margin:0;
    padding:0;
    float:left;
    border-left:1px solid white !important;
}
#mega-menu-utility_navigation li:first-child {
    border-left-width:0px !important;
}
#mega-menu-utility_navigation li.mega-menu-item {
    padding: 2px 0 0 0 !important;
}
#mega-menu-utility_navigation a {
    line-height:normal !important;
    height: auto !important;
    padding:0 4px !important;
    text-transform: uppercase !important;
    font-size:1.2rem !important;
}

@media screen and (min-width: 1199px) {
    #mega-menu-utility_navigation a {
        padding:0 10px !important;
        font-size:1.2rem !important;
    }
}




/* UTILITY SUB MENUS */
.mega-sub-menu {
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.5) !important;
}
#mega-menu-utility_navigation .mega-sub-menu li {
    border-left-width:0 !important;
}
#mega-menu-utility_navigation ul.mega-sub-menu {
    background:#3CB49D !important;
}
#mega-menu-utility_navigation ul.mega-sub-menu li {
    background:#3CB49D !important;
}
#mega-menu-utility_navigation ul.mega-sub-menu li a {
    padding:5px 10px !important;
    color:white  !important;
    background: #3CB49D !important;
}
#mega-menu-utility_navigation ul.mega-sub-menu li a:hover {
    color:white  !important;
    background: #5bd9c1 !important;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    color: #fff;
    font-size: 24px;
    text-transform: none;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu h3 a {
    color: #fff;
    font-family: inherit;
    font-size: inherit !important;
}
#mega-menu-wrap-main_menu #mega-menu-main_menu h3 a:hover {
    color: #90d4ff;
}



/* MOBILE MENU OVER RIDES */
.mega-hide-on-desktop {
    display:none !important;
}
#wprmenu_menu_ul > li.mobile-utility a,
#wprmenu_menu_ul > li.mobile-utility a:hover, #wprmenu_menu_ul > li.mobile-utility a:active {
    font-size: 1.3rem;
}
li.mobile-utility {
    padding-left:44px !important;
}
li.mobile-utility.menu-item-has-children {
    padding-left:0 !important;
}
li.mobile-utility.menu-item-has-children ul li {
    background:#2d2620;
}
li.mobile-utility.menu-item-has-children ul a {
    padding: 6px 0 6px 40px !important;
}