/******************************************************************
Theme Name: ResearchMap
Theme URI: http://www.beancreative.com
Description: A child theme of Joints WP
Author: BeanCreative
Author URI: http://www.beancreative.com
Template: JointsWP
Version: 1.0.0
License: GNU General Public License & MIT
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Sass
******************************************************************/

@font-face {
    font-family: 'MuseoSlab';
    src: url('fonts/Museo_Slab_300.otf'); 
}

@font-face {
    font-family: 'MuseoSlab';
    src: url('fonts/Museo_Slab_700.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url('fonts/Museo_Slab_900.otf');
    font-weight: 900;
}

path.found{
    stroke: blue;
    stroke-width: 3px;
    fill-opacity: 1.0;
}

div{
	font-family:"MuseoSlab";
}

#graphHolder{
	width:100%;
	height:100%;
	position:relative;
}

#content{
position:relative;
width:100%;
height:900px;
}

.sidebar{
	position:absolute;
	padding:10px;
	height:100%;
	background-color:#DDDDDD;
	width:25%;
}


.leftSidebar{
	left:0;
	bottom:0;
}

.panelTitle{
	width:100%;
	height:100%;
}

.inactive{
	display:none;
}

.panelTitle{
	margin-top:20px;
	margin-bottom:50px;
}

.mapName{
	font: 2em bold, MuseoSlab;
}

.rightSidebar{
	bottom:0;
	left:100%;
}

.tab{
	position:absolute;
	width:40px;
	height:100px;
	background-color:#DDDDDD;
}

.backTab{
	background-color:#AAAAAA;
}

.rightTab{
	border-radius:0px 5px 5px 0px;
}

#rightSlideTab{
	top:20px;
	left:-30px;
	border-radius:5px 0px 0px 5px;
}

#leftSlideTab{
	top:20px;
	
}

#keyTab{
	top:130px;
}
#filterTab{
	top:240px;
}

.fullCenter{
	position:absolute;
	width:100%;
	bottom:0;
	right:0;
}

.tab-text{
width:100px;
text-align:center;
position:relative;
left:30px;
font: 1.2em bold, MuseoSlab
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: 0px 0px;
	vertical-align:text-bottom;
}

line.link {
    stroke: #B2D9D8;
}

line.linking {
    stroke: #2E9AFE;

}

circle {
    cursor: crosshair;
    /*fill: #EBC763;*/
}

circle.level1 {
    stroke: #f00;
}

circle.level2 {
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    stroke: #777;
}

circle.level3 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

circle.sibling {
    fill: #455EE8;
}

circle.main {
    /*fill: red;*/
    stroke: black;
    fill: #732A9A;
    fill-opacity: 1.0;
}

circle.found {
    /*fill: red;*/
    stroke: blue;
    stroke-width: 3px;
    fill-opacity: 1.0;
}
/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;    
}

g.zoomed {
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
}

text {
    font: 9px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: normal;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.sibling {
    stroke-opacity: 0.0;
    fill-opacity:0.7;
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 4px;
    stroke-opacity: 1.0;
}

text.nshadowB{
    visibility: hidden;
}

text.main {
    font: 14px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
}


/* ....................................................................... */
/* search box*/


.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

#search {
    border-top: 1px solid #999;
    padding: 15px 0px 0px 2px;
    margin: 15px 0px 0px 0px;
}

#search input[name=search] {
border: 1px solid #999;
background-color: #fff;
padding: 5px 7px 4px 4px;
width: 180px;
color: #000;
}

#search input.empty {
color: #000;
cursor: cursor;
pointer-events: all;
}

#search button.emptyb {
color: #000;
margin-top: 1px;
cursor: cursor;
pointer-events: all;
}

#search span.SearchRes {
margin-top: 6px;
font-size: 11px;    
line-height: 13px;
width=100px;
color: blue;
}

input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin-left: 5px;
  margin-right: 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.7px;  
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  height: 9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.78);
}


