/* GRAPH PAGE OVER RIDES */
body.page-template-page-template-graph {
    background:white;
    overflow: hidden;/**/
}
body.page-template-page-template-graph .visit-footer {
    display: none;
}

body.page-template-page-template-graph .dmbs-footer {
    position: fixed;
    bottom:0;
    left:50%;
    height:34px;
    background:#494039;
    padding: 10px 15px;
}
@media (min-width: 1200px) {
    body.page-template-page-template-graph .dmbs-footer {width: 1170px; margin-left:-585px;}
}
@media (min-width: 992px) {
    body.page-template-page-template-graph .dmbs-footer {width: 970px; margin-left:-485px;}
}
@media (max-width: 991px) {
    body.page-template-page-template-graph .dmbs-footer {margin-left: 0; left: 0; width: 100%;}
}



/* OVER RIDE NORMAL LOGGED IN HEADER POSITION BECAUSE NOT ALL USERS ARE WORDPRESS ADMIN USERS ON THIS SITE */
body.logged-in .fixed {
    top: 0 !important;
}
body.logged-in .fixed {
    top: 0 !important;
}
body.logged-in.admin-bar .fixed {
    top: 32px !important;
}

/* hide my profile link if not logged in... */
#mega-menu-item-220 {
    display: none !important;
}
body.logged-in #mega-menu-item-220 {
    display: inline-block !important;
}

body.logged-in .mega-menu-item-255 span {
    display: none;
}


body .mega-logged-in {
    display:none !important;
}
body.logged-in .mega-logged-in {
    display:inline-block !important;
}
body.logged-in .mega-logged-out {
    display:none !important;
}

/* MAIN MENU SUB MENUS */
.mega-sub-menu li.mega-menu-item a {
    padding:6px 8px !important;
}



/* HOMEPAGE FEATURE */
.homepage-feature .force {
    position: absolute;
    left:15%;
    top:79%;
    font-weight: bold;
    background-image: url(../img/DP_ForceIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:80px;
}
.homepage-feature .force:hover,.homepage-feature .force:active  {
    background-image: url(../img/DP_ForceIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.homepage-feature .chord {
    position: absolute;
    left:71%;
    top:79%;
    font-weight: bold;
    background-image: url(../img/DP_ChordIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:80px;
}
.homepage-feature .chord:hover, .homepage-feature .chord:active {
    background-image: url(../img/DP_ChordIcon.png);
    background-repeat: no-repeat;
    background-position: left center;
}


.homepage-feature .hero-title {
    position: absolute;
    top:36%;
    left:0;
    width:100%;
    color:white;
    text-align: center;
    font-size: 7.4rem;
}

.homepage-feature .subsite-name {
    background:#439AD0;
    text-align: center;
    font-size: 4rem;
    color:white;
    font-family: "museo_slab500",Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    padding:30px 20px 10px;
    border-bottom: 10px solid #2E6F97;
}

@media (max-width: 991px) {
    .homepage-feature .subsite-name {
        font-size: 2.5rem;
        padding:30px 20px 10px;
        border-bottom: 7px solid #2E6F97;
    }
    .homepage-feature .hero-title {
        font-size: 3rem !important;
    }
    .homepage-feature .force,
    .homepage-feature .chord {
        position: relative;
        left:auto;
        top:auto;
        float:none !important;
        clear:both;
        margin:10px auto;
        display: block;
        width: 80% !important;
    }
    .promo-image {
        display:none;
    }
}

.feature-overlay h1 {
    margin: 0 !important;
}


.page-template-page-template-login .dmbs-main ul {
    list-style: none;
    margin:0;
    padding:0;
}
.page-template-page-template-login .dmbs-main li.wppb-form-field {
    list-style: none;
    margin:0 0 20px;
    padding:0;
}
.page-template-page-template-login .dmbs-main li.wppb-form-field.wppb-default-password {
    margin:0;
}

.page-template-page-template-login .dmbs-main li.wppb-form-field input {
    margin-right:10px;
}
.page-template-page-template-login .dmbs-main li.wppb-form-field span {
    font-weight: 100;
    display: inline-block;
}
.page-template-page-template-login .dmbs-main li.wppb-form-field #pass-strength-result {
    display: block;
}



/* 
body.page-template-page-topic-detail .dmbs-container {
    padding-top: 114px;
}
body.page-template-page-topic-detail .dmbs-content:first-of-type {
    padding-top: 0;
}
*/
body.page-template-page-topic-detail .dmbs-main {
    padding-top: 75px;
}

/* MOST VIEWED LIST */
.wpp-list {
    margin:0;
    padding:0;
}
.wpp-list li {
    margin:0 0 15px;
    padding:0;
}

/* RELATED LINKS */
.widget_related_links_box h3 {
    background: #EF9326;
    color: white;
    padding: 5px 15px;
    margin: 0 0 15px;
}
.related-links-list {
    list-style: none;
    margin:0;
    padding:0;
}

.related-links-list li {
    list-style: none;
    margin:0 0 15px;
    padding:0;
}


/* MISC SIDEBAR STYLES */
#levelSelect {
    margin-bottom:15px;
}

.newsontopic {
	font-size: 1.2em;
}


/* MEDIA CREDIT COPYRIGHT CAPTIONS */
.media-credit {
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: right;
    margin: -21px 10px 5px;
    display: block;
    color: #fff;
    width: auto !important;
    text-shadow:1px 1px 2px #000;
    opacity: .5;
}
.callout .media-credit {
    display:none;
}


/* MY TILES STUFF */
#tileTopOptions {
    display:none;
}
body.logged-in #tileTopOptions {
    display:block;
}
#addGroupButton,
#printSelectedButton,
#emailSelectedButton {
    cursor: pointer;
    border:1px solid white;
    border-radius:3px;
    padding-right:8px;
    background-color:white;
    -webkit-transition: background-color .5s, border-color .5s ease;
    transition: background-color .5s, border-color .5s ease;
}
#addGroupButton:hover, #addGroupButton:active,
#printSelectedButton:hover, #printSelectedButton:active,
#emailSelectedButton:hover, #emailSelectedButton:active {
    border:1px solid #ccc;
    background-color:#F1F1E6;
}
#addGroupButton div,
#printSelectedButton div,
#emailSelectedButton div {
    display: inline-block;
    padding:4px;
}
#addGroupButton div {
    max-width: 86px;
}
.myTile {
    padding-bottom:10px !important;
}
.tileInfoBlock {
    font-size: 1.3rem;
}
.commentsBox {
    padding: 4px;
    font-size: 1.3rem;
}
.deleteTile {
    cursor: pointer;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++


JORDANS OLD STYLES..... 


+++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* SAVE OVERLAY*/

#itemSaver{
	position:absolute;
	width:50%;
	left:25%;
	top:150px;
	background-color:#E1DDDE;
	z-index:10;
}


#saverUserArea{
	background-color:#B1AFB0;
	width:100%;
	padding:3%;
}
#saverComments{
	width:100%;
	margin-bottom:2%;
}
#saverSaveButton{
	color:white;
float:right;
width:15%;
text-align:center;
background-color:#439ad0;
padding:5px;
cursor:pointer;
}

#saverClose{
	position:absolute;
	left:5px;
	top:5px;
	background-image:url(../img/close-icon.png);
	width:40px;
	height:42px;
	cursor:pointer;
}

#saverInfoArea{
	width:100%;
	padding:3%;
}

#saverGroupSelector{
	float:right;
	width:50%;
	margin-bottom:2%;
}

.learnMoreButton{
	width:40%;
	padding:5px;
	float:right;
	background-color:#439ad0;
	color:white;
	cursor:pointer;
	text-align:center;
}

table .title{
	font-size:1.3rem;
}

.articleSaver{
	height:44px;
	background-image:url(../img/AddPaper.png);
	background-size:40%;
	 background-repeat: no-repeat;
    background-position: center top;
	cursor:pointer; 
	
}

.title a{
	color:black;
}

.stuffK th {
    padding:6px 3px;
    font-size: 1.5rem;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    line-height: 1.1em;
}

.articleTable th,
.MCAU th,
.stuffK th {
    padding:6px 3px;
    font-size: 1.5rem;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    line-height: 1.1em;
}
.resultArticle td,
.MCAU tr.resultAuthor td,
.stuffK td {
    padding:6px 3px !important;
    font-size: 1.3rem;
}
.jumpToLabel {
    display: block;
    clear:both;
}
.MRP,
.MCP,
.MCAU,
.stuffK,
.stuffJ,
.stuffS,
.stuffR {
    margin-top:15px;
    position: relative;
}
.articleTable tr:nth-child(even),
.MCAU table tr:nth-child(even), 
.stuffK table tr:nth-child(even),
.stuffJ table tr:nth-child(even),
.stuffS table tr:nth-child(even),
.stuffR table tr:nth-child(even) {
    background-color:#ebebeb;
}
.MCAU table, 
.stuffK table,
.stuffJ table,
.stuffS table,
.stuffR table {
    width:100%;
}

.totpubs_small {
    font-size: 1.3rem;
    font-weight: bold;
}

.jumpToLabel {
    font-size: 1.3rem;
    font-weight: bold;
}



/* GRAPHS */
.arc.found{
    stroke: blue !important;
    stroke-width: 3px;
    fill-opacity: 1.0;
}

#inner-content{
	overflow-x:hidden;
}

#content{
position:relative;
width:100%;
height:100%;
}

.sidebar{
	position:absolute;
	padding:0 15px;
	/* height:100%; */
	background-color:#DDDDDD;
    /* natos styles */
    top: 95px;
}

.chordLabel{
	font-size:1.1em;
}

.tab.goingLeft{
	background-image:url(../img/sidebar-arrow-left.png);
	 background-repeat: no-repeat;
    background-position: center; 
}
.tab.goingRight{
	background-image:url(../img/sidebar-arrow-right.png);
	 background-repeat: no-repeat;
    background-position: center; 
}

.sidebar select {
	width:100%;
}

.sidebar cc {
}

.source,
.nums {
    
    font-size: 1.2rem;
}

#clusterInfo {
    padding-right:8px;
}

.stuff:first-of-type b {
    font-size: 2rem;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    line-height: 1.1em;
}

#sidebarFilter button,
#sidebarData button,
.learnMoreButton {
    background:#515151;
    color:white !important;
    font-size: 1.4rem;
    font-family: 'museo_slab500',"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-width: 0 !important;
    font-weight: 100 !important;
    margin:5px 5px 5px 0 !important;
}
#sidebarFilter button:hover,
#sidebarData button:hover,
.learnMoreButton:hover,
#sidebarFilter button:active,
#sidebarData button:active,
.learnMoreButton:active {
    background:#2E6F97;
}

.leftSidebar{
	left:0;
	bottom:0;
	width:20%;
}

#filters cc {
    display: block;
}

.sliderS {
    margin-bottom:25px;
	height:20px;
}

.chordIcon{
	background-repeat:no-repeat;
	background-image:url(../img/ChordIcon4.png);
	background-position:center;
}
.arcIcon{
	background-repeat:no-repeat;
	background-image:url(../img/ChordIcon3.png);
	background-position:center;
}

.smallBG{
	background-size:50%;
}

.largeBG{
	background-size:100%;
}

.sliderS #Srange {
    margin-bottom:25px;
}

#search cc:first-of-type,
#filters cc:first-of-type {
    font-weight: bold;
}

#colorKey{
	/*height:150px;
	overflow-y:scroll;*/
}

.panelTitle{
	width:100%;
	/*height:100%;*/
}

.sidePanel{
	height:100%;
	overflow-y:scroll;
	margin-right:-18px;
	padding-bottom:40px;
	padding-right:3px;
}

.filterSlider{
	vertical-align:middle;
	height:100%;
}

#panelHolder{
	overflow:hidden;
}

.inactive{
	display:none;
}

.panelTitle{
	margin-top:30px;
	margin-bottom:30px;
}

.mapName{
	font-size: 2.5rem;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    line-height: 1.1em;
    display: block;
}

.forceKey .line,
.chordKey .line {
    margin-bottom:15px;
}

.rightSidebar{
	bottom:0;
	left:100%;
	width:33%;
}

#dataHolder {
    width: 100%;
    height: 87% !important;
    overflow-y: scroll;
    margin: 20px 0 0 0px;
	padding-bottom:50px;
}

.tab{
	position:absolute;
	width:40px;
	height:100px;
	background-color:#DDDDDD;
    cursor:pointer;
}

.backTab{
	background-color:#AAAAAA;
}

.rightTab{
	border-radius:0px 5px 5px 0px;
}

#rightSlideTab{
	top:20px;
	left:-40px;
	border-radius:5px 0px 0px 5px;
}

#leftSlideTab{
	top:20px;
	
}

#keyTab{
	top:130px;
}
#filterTab{
	top:240px;
}

.toolTipIcon{
	background-image: url(../img/about-icon-32.png);
    background-repeat: no-repeat;
    background-position: center;
	background-size:auto 100%;
	height:20px;
	min-width:20px;
    float:right;
}

.toolTipIcon .toolTip {
    visibility: hidden;
    width: 300px;
    background-color: #439AD1;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 100;
    font-family: 'museo_sans300',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.3rem;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 26px; 
}


.toolTipIcon:hover .toolTip {
    visibility: visible;
}

.fullCenter{
	position:absolute;
	width:100%;
	bottom:0;
	right:0;
}

.tab-text{
width:100px;
text-align:center;
position:relative;
left:30px;
/*font: 1.2em bold, MuseoSlab*/
}
.vertical-text {
	transform: rotate(90deg);
	transform-origin: 0px 0px;
	vertical-align:text-bottom;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
}

line.link {
    stroke: #B2D9D8;
}

line.linking {
    stroke: #2E9AFE;

}

circle {
    cursor: crosshair;
    /*fill: #EBC763;*/
}

circle.level1 {
    stroke: #f00;
}

circle.level2 {
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    stroke: #777;
}

circle.level3 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

circle.sibling {
    fill: #455EE8;
}

circle.main {
    /*fill: red;*/
    stroke: black;
    fill: #732A9A;
    fill-opacity: 1.0;
}

circle.found {
    /*fill: red;*/
    stroke: blue;
    stroke-width: 3px;
    fill-opacity: 1.0;
}
/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: normal;
    visibility: hidden;
}

g.on {
    visibility: visible;    
}

g.zoomed {
    font-family: 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
}

text {
    font: 9px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: normal;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.sibling {
    stroke-opacity: 0.0;
    fill-opacity:0.7;
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 4px;
    stroke-opacity: 1.0;
}

text.nshadowB{
    visibility: hidden;
}

text.main {
    font: 14px 'MuseoSlab',Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
}


/* ....................................................................... */
/* search box*/


.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

#search {
    border-top: 1px solid #999;
    padding: 15px 0px 0px 2px;
    margin: 15px 0px 20px 0px;
}

#search input[name=search] {
border: 1px solid #999;
background-color: #fff;
padding: 5px 7px 4px 4px;
width: 100%;
color: #000;
}

#search input.empty {
color: #000;
cursor: cursor;
pointer-events: all;
}

#search button.emptyb {
color: #000;
margin-top: 1px;
cursor: cursor;
pointer-events: all;
}

#search span.SearchRes {
margin-top: 6px;
font-size: 11px;    
line-height: 13px;
width=100px;
color: blue;
}

input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  margin-left: 5px;
  margin-right: 5px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-bottom: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.7px;  
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 1.8px solid #000027;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: #e4e4e4;
  cursor: pointer;
  height: 9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.78);
}