/* GRAPH PAGE OVER RIDES */
body.page-template-page-template-graph {
    background:white;
    overflow: hidden;/**/
}
body.page-template-page-template-graph .visit-footer {
    display: none;
}

body.page-template-page-template-graph .dmbs-footer {
    position: fixed;
    bottom:0;
    left:50%;
    height:34px;
    background:#494039;
    padding: 10px 15px;
}
@media (min-width: 1200px) {
    body.page-template-page-template-graph .dmbs-footer {width: 1170px; margin-left:-585px;}
}
@media (min-width: 992px) {
    body.page-template-page-template-graph .dmbs-footer {width: 970px; margin-left:-485px;}
}
@media (max-width: 991px) {
    body.page-template-page-template-graph .dmbs-footer {margin-left: 0; left: 0; width: 100%;}
}







/* HOMEPAGE FEATURE */

.homepage-feature .subsite-name {
    background:#439AD0;
    text-align: center;
    font-size: 4rem;
    color:white;
    font-family: "museo_slab500",Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    padding:30px 20px 10px;
    border-bottom: 10px solid #2E6F97;
}

@media (max-width: 991px) {
    .homepage-feature .subsite-name {
        font-size: 2.5rem;
        padding:30px 20px 10px;
        border-bottom: 7px solid #2E6F97;
    }
}



.divider {
  width: 90%;
  margin: 10px auto;
  height: 0;
  background-color: #999;
}